hr {
  height: 5px;
}

.product {
    display: flex;
    justify-content: center;
  .productview {
    width: 80vw;
    display: flex;
    justify-content: center;
    .productleft {
      flex: 1;
      display: flex;
      justify-content: center;
      img {
        height:80%;
        width: 60%;
      }
    }
    .productright {
      flex: 1;
    }
  }

  @media screen and (max-width: 768px) {
    .productview{
        width: 100vh;
    }
  }
}
